extends ../layouts/staffMenu
block content
    
    #accordion.mt-4               
        .card
            #headingThree.card-header
                h5.mb-0
                    button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                        | Trainer Account
            #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordion')
                .card-body
                    table.table.mt-4 
                            tr 
                                th Name
                                th User Name 
                                th Age
                                th D.O.B
                                th Education
                                th Main programming language
                                th Actions 
                            each account in accountTrainer
                                tr
                                    td= account.name
                                    td= account.username
                                    td= account.age
                                    td= account.dateofbirth
                                    td= account.education
                                    td= account.mainprogramminglanguage
                                    td
                                        a.btn.btn-success(href='/staff/updateAccount/'+ account.id) Update 
                                        a.btn.btn-danger.ml-4(href='/staff/deleteAccount/'+ account.id) Delete

        .card
            #headingFour.card-header
                h5.mb-0
                    button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
                        | Trainee Account
            #collapseFour.collapse(aria-labelledby='headingFour' data-parent='#accordion')
                .card-body
                    table.table.mt-4 
                            tr 
                                th Name
                                th User Name 
                                th Age
                                th D.O.B
                                th Education
                                th Main programming language
                                th Actions 
                            each account in accountTrainee
                                tr
                                    td= account.name
                                    td= account.username
                                    td= account.age
                                    td= account.dateofbirth
                                    td= account.education
                                    td= account.mainprogramminglanguage
                                    td
                                        a.btn.btn-success(href='/staff/updateAccount/'+ account.id) Update 
                                        a.btn.btn-danger.ml-4(href='/staff/deleteAccount/'+ account.id) Delete
    